<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deploy VMs Form</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">YAML Form</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vsphere_setting">Vcenter login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create_vm">Create vm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/deploy_vms">Deploy vm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pulumi_logs">Pulumi logs</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/deploy_app">Deploy app</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/ansible_logs">Ansible logs</a>
            </li> 
          </ul>
        </div>
      </nav>
  

    <div class="container mt-4">
        <form method="POST" action="/create_vm">
            {% if success == True %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <!-- vSphere Resource Parameters -->
            <div class="form-group">
                <h3>vSphere Settings</h3>
                <label for="datastore_name">Datastore Name:</label>
                <input type="text" class="form-control" id="datastore_name" name="datastore_name" value="roels-bart">
            </div>
        
            <div class="form-group">
                <label for="network_name">Network Name:</label>
                <input type="text" class="form-control" id="network_name" name="network_name" value="VM Network">
            </div>
        
            <div class="form-group">
                <label for="resource_pool_name">Resource Pool Name:</label>
                <input type="text" class="form-control" id="resource_pool_name" name="resource_pool_name" value="Resources">
            </div>
        
            <div class="form-group">
                <label for="datacenter_name">Datacenter Name:</label>
                <input type="text" class="form-control" id="datacenter_name" name="datacenter_name" value="StudentDC">
            </div>
        
            <div class="form-group">
                <label for="template_name">Template Name:</label>
                <select class="form-control" id="template_name" name="template_name">
                    {% for template in templates %}
                    <option value="{{ template }}">{{ template }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <!-- Separator -->
            <hr>
        
            <!-- VM Settings -->
            <div class="form-group">
                <h3>VM Settings</h3>
                <label for="vm_name">VM Name:</label>
                <input type="text" class="form-control" id="vm_name" name="vm_name" value="pulumi-vm">
            </div>
        
            <div class="form-group">
                <label for="vm_memory">VM Memory:</label>
                <input type="number" class="form-control" id="vm_memory" name="vm_memory" value="1024">
            </div>
        
            <div class="form-group">
                <label for="vm_cpus">VM CPUs:</label>
                <input type="number" class="form-control" id="vm_cpus" name="vm_cpus" value="1">
            </div>
        
            <div class="form-group">
                <label for="vm_disk_size">VM Disk Size (GB):</label>
                <input type="number" class="form-control" id="vm_disk_size" name="vm_disk_size" value="20">
            </div>
        
            <div class="form-group">
                <label>Disk Scrub:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="disk_scrub_true" name="disk_scrub" value="true">
                    <label class="form-check-label" for="disk_scrub_true">True</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="disk_scrub_false" name="disk_scrub" value="false" checked>
                    <label class="form-check-label" for="disk_scrub_false">False</label>
                </div>
            </div>
        
            <div class="form-group">
                <label>Disk Thin:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="disk_thin_true" name="disk_thin" value="true">
                    <label class="form-check-label" for="disk_thin_true">True</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="disk_thin_false" name="disk_thin" value="false" checked>
                    <label class="form-check-label" for="disk_thin_false">False</label>
                </div>
            </div>
        
            <div class="form-group">
                <label for="diskl_label">Disk Label:</label>
                <input type="text" class="form-control" id="diskl_label" name="diskl_label" value="disk0">
            </div>
        
            <div class="form-group">
                <label for="vm_domain">VM Domain:</label>
                <input type="text" class="form-control" id="vm_domain" name="vm_domain" value="test.local">
            </div>
        
            <div class="form-group">
                <label for="vm_host_name">VM Host Name:</label>
                <input type="text" class="form-control" id="vm_host_name" name="vm_host_name" value="pulumi-vm">
            </div>
        
            <div class="form-group">
                <label for="vm_ipv4_gateway">VM IPv4 Gateway:</label>
                <input type="text" class="form-control" id="vm_ipv4_gateway" name="vm_ipv4_gateway" value="192.168.50.1">
            </div>
        
            <div class="form-group">
                <label for="vm_ipv4_netmask">VM IPv4 Netmask:</label>
                <input type="number" class="form-control" id="vm_ipv4_netmask" name="vm_ipv4_netmask" value="24">
            </div>
        
            <div class="form-group">
                <label for="vm_ipv4_address">VM IPv4 Address:</label>
                <input type="text" class="form-control" id="vm_ipv4_address" name="vm_ipv4_address" value="192.168.50.55">
            </div>
        
            <div class="form-group">
                <label for="vm_dns_servers">VM DNS Servers:</label>
                <input type="text" class="form-control" id="vm_dns_servers" name="vm_dns_servers" value="172.20.4.140,172.20.4.141">
            </div>

        
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('disk_scrub_true').addEventListener('change', function () {
            if (this.checked) {
                document.getElementById('disk_thin_false').checked = true;
            }
        });
    
        document.getElementById('disk_scrub_false').addEventListener('change', function () {
            if (this.checked) {
                document.getElementById('disk_thin_true').checked = true;
            }
        });
    
        document.getElementById('disk_thin_true').addEventListener('change', function () {
            if (this.checked) {
                document.getElementById('disk_scrub_false').checked = true;
            }
        });
    
        document.getElementById('disk_thin_false').addEventListener('change', function () {
            if (this.checked) {
                document.getElementById('disk_scrub_true').checked = true;
            }
        });
    </script>
</body>
</html>